# Creating Database using SQLite

In [146]:

import sqlite3
conn = sqlite3.connect('Student_Data.db')
c = conn.cursor()

In [147]:
from pandas import DataFrame
import pandas as pd

In [149]:
c.execute(""" DROP TABLE Student_Info""")

In [150]:
c.execute("""CREATE TABLE Student_Info (
        id text PRIMARY KEY,
        f_name text,
        l_name text,
        gender text,
        race text,
        birth_dt numeric,
        address text,
        email text
        )""")

In [151]:
sheet_list = ['SP_2017', 'SP_2018', 'SP_2019', 'SP_2020']
for i in sheet_list:
    df = pd.read_excel('CS_320.xlsx',sheet_name= i, usecols = "A:H")
    df.to_sql('Student_Info', conn , if_exists='append', index=False)

In [ ]:
#c.execute(""" DROP TABLE Assignment""")

In [154]:
c.execute("""CREATE TABLE Assignment (
        home1 real,
        home2 real,
        home3 real,
        home4 real,
        home5 real,
        home6 real,
        id text FORIEGN KEY
        )""")

In [155]:
for i in sheet_list:
    if i== 'SP_2018':
        df = pd.read_excel('CS_320.xlsx',sheet_name= 'SP_2018', usecols ="A,I:N" )
        df.to_sql('Assignment', conn , if_exists='append', index=False)
    else:
        df = pd.read_excel('CS_320.xlsx',sheet_name= i, usecols ="A,I:M" )
        df.to_sql('Assignment', conn , if_exists='append', index=False)

In [ ]:
#c.execute(""" DROP TABLE Assessment""")

In [157]:
c.execute("""CREATE TABLE Assessment (
        quiz1 real,
        quiz2 real,
        quiz3 real,
        quiz4 real,
        quiz5 real,
        exam1 real,
        exam2 real,
        id text FORIEGN KEY
        id text FORIEGN KEY
        )""")

In [159]:
for i in sheet_list:
    if i== 'SP_2018':
        df = pd.read_excel('CS_320.xlsx',sheet_name= 'SP_2018', usecols ="A,o:T" )
        df.to_sql('Assessment', conn , if_exists='append', index=False)
    elif i == 'SP_2019':
        df = pd.read_excel('CS_320.xlsx',sheet_name= 'SP_2019', usecols ="A,N:S" )
        df.to_sql('Assessment', conn , if_exists='append', index=False)
    else:
        df = pd.read_excel('CS_320.xlsx',sheet_name= i, usecols ="A,N:T" )
        df.to_sql('Assessment', conn , if_exists='append', index=False)

In [162]:
#c.execute(""" DROP TABLE Student_track """)

In [163]:
c.execute("""CREATE TABLE Student_track (
        ontime real,
        late real,
        missed real,
        attendance real,
        LMS_accesses real,
        LMS_time real,
        LMS_mess real,
        final_grade,
        course_code text,
        term_code text,
        id text FORIEGN KEY
        )""")

In [164]:
for i in sheet_list:
    if i== 'SP_2019':
        df = pd.read_excel('CS_320.xlsx',sheet_name= 'SP_2019', usecols ="A,T:AC" )
        df.to_sql('Student_track', conn , if_exists='append', index=False)
    else:
        df = pd.read_excel('CS_320.xlsx',sheet_name= i, usecols ="A,U:AD" )
        df.to_sql('Student_track', conn , if_exists='append', index=False)

In [165]:
conn.commit()
conn.close()