In [89]:
import sqlite3
conn = sqlite3.connect('Student_Data.db')
c = conn.cursor()

In [90]:
def create_connection(db):
    conn = None
    try:
        conn = sqlite3.connect(db)
    except Error as e:
        print(e)

    return conn

In [128]:
def read_course(conn,course_code,term_code):
    cur = conn.cursor()
    cur.execute("""SELECT *
                   FROM Student_info
                   LEFT OUTER JOIN  StudentProfile p using (id)
                   LEFT OUTER JOIN  Assignment a using (id, course_code)
                   LEFT OUTER JOIN  Assessment q using (id, course_code)
                   LEFT OUTER JOIN  Student_track t using (id, course_code)
                   WHERE p.course_code = '"""+course_code+"""' and p.term_code = '"""+term_code+"""';""")

    rows = cur.fetchmany(5)

    for row in rows:
        print(row)

In [129]:
###testing
conn = create_connection('Student_Data.db')
read_course(conn,'CS_320','SP_2019')

('297-51-1587', 'Lori', 'Johnson', 'F', 'Asian', '1998-12-24', 'PSC 6916, Box 3906\nAPO AE 81631', 'dawn66@hotmail.com', 'CS_320', 'SP_2019', 82.0, 87.0, 88.0, 88.0, 87.0, 85.0, 88.0, 87.0, 87.0, 85.0, 89.0, 82.0, 87.25, 100.0, 0.0, 0.0, 98.49, 6.12, 7.35, 17.0)
('472-14-3635', 'Kevin', 'Ward', 'M', 'Black', '2000-06-22', '718 Kevin Tunnel\nNorth Latoyaburgh, AR 64707', 'perryanthony@yahoo.com', 'CS_320', 'SP_2019', 84.0, 82.0, 84.0, 88.0, 92.0, 83.0, 82.0, 86.0, 88.0, 90.0, 81.0, 94.0, 87.49, 97.7, 2.3, 0.0, 95.53, 6.35, 4.05, 11.0)
('333-85-1583', 'Anthony', 'Davidson', 'M', 'White', '1996-06-11', '36040 Teresa Mission Apt. 707\nNorth Amandaside, MS 48004', 'greenmary@gmail.com', 'CS_320', 'SP_2019', 88.0, 85.0, 82.0, 85.0, 91.0, 84.0, 80.0, 81.0, 82.0, 87.0, 83.0, 86.0, 85.23, 78.2, 21.8, 0.0, 93.47, 6.99, 6.48, 2.0)
('467-98-8399', 'Christopher', 'Ford', 'M', 'Black', '1996-07-04', '2749 Taylor Loaf Suite 470\nHoffmanburgh, CO 86375', 'shannonrodgers@gmail.com', 'CS_320', 'SP_2019', 83.0, 73.0, 63.0, 57.0, 51.0, 78.0, 63.0, 63.0, 59.0, 53.0, 68.0, 52.0, 62.43, 80.73, 19.27, 0.0, 63.91, 3.61, 2.85, 0.0)
('892-22-4747', 'Alejandra', 'Strickland', 'F', 'White', '1996-07-29', '262 Laurie Wells Apt. 925\nWest Michael, NY 79271', 'lindsay64@gmail.com', 'CS_320', 'SP_2019', 87.0, 86.0, 89.0, 84.0, 85.0, 87.0, 83.0, 89.0, 85.0, 83.0, 84.0, 85.0, 85.74, 87.96, 12.04, 0.0, 90.78, 5.89, 5.11, 7.0)